<div class="container" style="margin-top: 70px;">
    <div *ngFor = "let prize of prizes_list | async; let i = index ">
        <div *ngIf="prize.category == 'peace' && i < 1">
            <div class="container-img">
                <img src="https://www.nobelprize.org/images/53529-hero-tablet-2x.jpg" alt="Bright Orange Background" style="width:100%;">
                <div class="centered">
                    <h1>The Nobel Peace Prize</h1>
                </div>
            </div> 
        </div>
        <div *ngIf="prize.category == 'chemistry' && i < 1">
            <div class="container-img">
                <img src="https://www.nobelprize.org/images/53531-hero-tablet-2x.jpg" alt="Chemistry Equipment" style="width:100%;">
                <div class="centered">
                    <h1>The Nobel Prize In Chemsitry</h1>
                </div>
            </div> 
        </div>
        <div *ngIf="prize.category == 'physics' && i < 1">
            <div class="container-img">
                <img src="https://www.nobelprize.org/images/53528-hero-tablet-2x.jpg" alt="Chemistry Equipment" style="width:100%;">
                <div class="centered">
                    <h1>The Nobel Prize In Physics</h1>
                </div>
            </div> 
        </div>
        <div *ngIf="prize.category == 'economics' && i < 1">
            <div class="container-img">
                <img src="https://www.nobelprize.org/images/53526-hero-tablet-2x.jpg" alt="Chemistry Equipment" style="width:100%;">
                <div class="centered">
                    <h1>The Nobel Prize In Economics</h1>
                </div>
            </div> 
        </div>
        <div *ngIf="prize.category == 'medicine' && i < 1">
            <div class="container-img">
                <img src="https://www.nobelprize.org/images/53527-hero-tablet-2x.jpg" alt="Chemistry Equipment" style="width:100%;">
                <div class="centered">
                    <h1>The Nobel Prize In Medicine</h1>
                </div>
            </div> 
        </div>
        <div *ngIf="prize.category == 'literature' && i < 1">
            <div class="container-img">
                <img src="https://www.nobelprize.org/images/53530-hero-tablet-2x.jpg" alt="Chemistry Equipment" style="width:100%;">
                <div class="centered">
                    <h1>The Nobel Prize In Literature</h1>
                </div>
            </div> 
        </div>
    </div>

    <nav style="margin-top: 2em;">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" (click)="firstPage()" style="cursor: pointer;">First</a></li>
            <li class="page-item"><a class="page-link" (click)="previousPage()" style="cursor: pointer;">Previous</a></li>
            <li class="page-item"><a class="page-link" (click)="goToPage(page + 1)" style="cursor: pointer;">{{page + 1}}</a></li>
            <li class="page-item"><a class="page-link" (click)="goToPage(page + 2)" style="cursor: pointer;">{{page + 2}}</a></li>
            <li class="page-item"><a class="page-link" (click)="goToPage(page + 3)" style="cursor: pointer;">{{page + 3}}</a></li>
            <li class="page-item"><a class="page-link" (click)="goToPage(page + 4)" style="cursor: pointer;">{{page + 4}}</a></li>
            <li class="page-item"><a class="page-link" (click)="goToPage(page + 5)" style="cursor: pointer;">{{page + 5}}</a></li>
            <li class="page-item"><a class="page-link" (click)="nextPage()" style="cursor: pointer;">Next</a></li>
        </ul>
    </nav>

    <div class="row" style="background-color: rgb(243, 243, 243);">
        <div class="col-sm-12">
            <div *ngFor = "let prize of prizes_list | async">
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header style="background-color: lightgray;">
                          <mat-panel-title>
                            <h3> {{prize.year}} {{prize.category}}</h3>
                          </mat-panel-title>
                        </mat-expansion-panel-header>  
                        <div *ngFor = "let laureate of prize.laureates">
                            <div class="card-body">
                                <img src="{{ laureate.profileImage }}" style="height: 150px; cursor: pointer;" [routerLink]="['/prizes', prize._id]" /> 
                                <br>
                                <strong>{{ laureate.firstname }} {{ laureate.surname}}</strong>
                                {{ laureate.motivation }}
                                <hr>
                            </div>
                        </div>     
                      </mat-expansion-panel>       
                </mat-accordion>

            </div>
        </div>
    </div>
</div>