<div class="container" style="margin-top: 70px;">
    <div class="row">
        <div class="col-sm-12">
            <div *ngFor = "let prize of prizes_list | async">
                <div class="card text-white bg-primary mb-3" 
                            [routerLink]="['/prizes', prize._id]" 
                            style="cursor: pointer; width: 50rem; margin: auto;">
                    <div class="card-header">
                        {{ prize.year }} {{ prize.category }}
                    </div>
                    <div *ngFor = "let laureate of prize.laureates">
                        <div class="card-body">
                            {{ laureate.firstname }} {{ laureate.surname}}
                            {{ laureate.motivation }}
                        </div>
                        <div class="card-footer">
                            {{ laureate.share }}
                        </div>
                    </div>                 
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <button class="btn btn-primary" (click)="previousPage()">Previous</button>
        </div>
        <div class="col-sm-6 text-end">
            <button class="btn btn-primary" (click)="nextPage()">Next</button>
        </div>
    </div>
</div>