<div class="container" style="margin-top: 70px;">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header style="background-color: lightblue;">
              <mat-panel-title>
                Further Information
              </mat-panel-title>
            </mat-expansion-panel-header>  
            <p>Between 1901 and 2021, the Nobel Prizes and the Sveriges Riksbank Prize in Economic Sciences in Memory of Alfred Nobel were awarded 609 times to 975 people 
                and organisations. With some receiving the Nobel Prize more than once, this makes a total of 943 individuals and 25 organisations. Below, you can view the full list 
                of Nobel Prizes and Nobel Prize laureates.
            </p>      
          </mat-expansion-panel>       
    </mat-accordion>


    <nav style="margin-top: 2em;">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" (click)="firstPage()" style="cursor: pointer;">First</a></li>
            <li class="page-item"><a class="page-link" (click)="previousPage()" style="cursor: pointer;">Previous</a></li>
            <li class="page-item"><a class="page-link" (click)="goToPage(page + 1)" style="cursor: pointer;">{{page + 1}}</a></li>
            <li class="page-item"><a class="page-link" (click)="goToPage(page + 2)" style="cursor: pointer;">{{page + 2}}</a></li>
            <li class="page-item"><a class="page-link" (click)="goToPage(page + 3)" style="cursor: pointer;">{{page + 3}}</a></li>
            <li class="page-item"><a class="page-link" (click)="goToPage(page + 4)" style="cursor: pointer;">{{page + 4}}</a></li>
            <li class="page-item"><a class="page-link" (click)="goToPage(page + 5)" style="cursor: pointer;">{{page + 5}}</a></li>
            <li class="page-item"><a class="page-link" (click)="nextPage()" style="cursor: pointer;">Next</a></li>
        </ul>
    </nav>

    <div class="row" style="background-color: rgb(243, 243, 243);">
        <div class="col-sm-12">
            <div *ngFor = "let prize of prizes_list | async">
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header style="background-color: lightgray;">
                          <mat-panel-title>
                            <h3> {{prize.year}} {{prize.category}}</h3>
                          </mat-panel-title>
                        </mat-expansion-panel-header>  
                        <div *ngFor = "let laureate of prize.laureates">
                            <div class="card-body">
                                <img src="{{ laureate.profileImage }}" style="height: 150px; cursor: pointer;" [routerLink]="['/prizes', prize._id]" /> 
                                <br>
                                <strong>{{ laureate.firstname }} {{ laureate.surname}}</strong>
                                {{ laureate.motivation }}
                                <hr>
                            </div>
                        </div>     
                      </mat-expansion-panel>       
                </mat-accordion>
            </div>
        </div>
    </div>
</div>